.s-pic, .m-pic, .l-pic {
    display: block;
    margin: auto;
}

li .s-pic, li .m-pic {
    width: 80%
}

li .l-pic {
    width: 100%;
}

.s-pic, .m-pic {
    max-width: 90%;
}

.l-pic {
    width: inherit;
}

.l-pic {
    max-width: 800px;
}

.s-pic {
    max-width: 400px;
}

.m-pic {
    max-width: 600px;
}

.contact {
    display: flex;
    justify-content: left;
    align-items: center;
}

.contact p {
    margin: 0 0 0.3em 0;
}

.contact a.text {
    text-decoration: none;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1.1;
}

@media screen and (min-width: 768px) {
    .contact a.text br{
        display: none;
    }
    .contact a.markie {
        font-size: 0.85em;
    }
    p.contact {
        margin: 0.1em 0;
    }
}

.contact a.markie {
    font-size: 1.2em;
    padding: 0 0.5em;
    transition: 0.5s ease-in-out
}

.contact a:hover {
    color: rgb(65, 131, 196, 0.8)
}

.note {
    font-style: italic;
    font-size: 0.85em;
}